
#
# Binaries for programs and plugins
# Dependency directories (remove the comment below to include it)
# Go workspace file
# If you prefer the allow list template instead of the deny list, see community template:
# Output of the go coverage tool, specifically when used with LiteIDE
# Test binary, built with `go test -c`
# env file
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# vendor/
*-journal
*-shm
*-wal
*.DS_Store
*.dat
*.db
*.db.wal
*.dll
*.dylib
*.exe
*.exe~
*.json
*.out
*.so
*.test
*.txt
.env
.env.toml
.vscode
/.claude-flow/
/.claude/
/.claude/\n/.claude-flow/\n/claude.json
/features/entries/providers/oisd/responses
/responses
blacked
data
go.work
go.work.sum
